* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
 }
 
 .wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
 }
 
 img {
    width: 300px;
    object-fit: cover;
 }
 
 .img-1 {
    overflow: hidden;
    width: 100px;
 }
 
 .img-2 {
    overflow: hidden;
    width: 100px;
 }
 
 .image-2 {
    object-position: -100px 0px;
 }
 
 .image-3 {
    object-position: -200px 0px;
 }
 
 .img-3 {
    overflow: hidden;
    width: 100px;
 }
 
 .block {
    display: flex;
 }
 
 @keyframes slide-in-bck-top {
    0% {
       transform: translateZ(700px) translateY(-300px);
       opacity: 0;
    }
 
    100% {
       transform: translateZ(0) translateY(0);
       opacity: 1;
    }
 }
 
 @keyframes focus-in-expand-fwd {
    0% {
       letter-spacing: -0.5em;
       transform: translateZ(-800px);
       filter: blur(12px);
       opacity: 0;
    }
 
    100% {
       transform: translateZ(0);
       filter: blur(0);
       opacity: 1;
    }
 }
 
 @keyframes slide-in-bck-left {
    0% {
       transform: translateZ(700px) translateX(-400px);
       opacity: 0;
    }
 
    100% {
       transform: translateZ(0) translateX(0);
       opacity: 1;
    }
 }
 
 @keyframes slide-in-bck-right {
    0% {
       transform: translateZ(700px) translateX(400px);
       opacity: 0;
    }
 
    100% {
       transform: translateZ(0) translateX(0);
       opacity: 1;
    }
 }
 
 @keyframes rotate-scale-up {
    0% {
       transform: scale(1) rotateZ(0);
    }
 
    50% {
       transform: scale(1.5) rotateZ(180deg);
    }
 
    100% {
       transform: scale(1) rotateZ(360deg);
    }
 }
 
 .slide-in-bck-right {
    animation: slide-in-bck-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
 }
 
 .slide-in-bck-left {
    animation: slide-in-bck-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
 }
 
 .slide-in-bck-top {
    animation: slide-in-bck-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
 }
 
 .focus-in-expand-fwd {
    animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
    font-size: 40px;
 }
 
 .rotate-scale-up {
    animation: rotate-scale-up 0.65s linear 3s both;
 }