* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
 }
 .wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 10px;
    flex-direction: column;
    align-items: center;
 }
 
 progress {
    width: 10%;
    height: 40px;
    color: #000;
 }
 .box {
    width: 10%;
    height: 100%;
    background-color: #000;
    position: relative;
    cursor: pointer;
 }
 
 .pathway {
    outline: 1px solid #000000;
    width: 100%;
    height: 50px;
 }
 textarea {
    resize: none;
    width: 50%;
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    padding: 5px;
 }
 
 button {
    padding: 10px;
    font-size: 16px;
 }