* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    background-color: aliceblue;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
       sans-serif;
    font-weight: 600;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 1.1rem;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
 }
 
 .menu {
    width: 20rem;
    background: #545f60;
    color: #fff;
 }
 
 .menu ul {
    list-style: none;
 }
 
 .menu li {
    padding: 1.5rem 1.2rem;
    border-top: 1px solid #6edeef;
    position: relative;
    cursor: pointer;
 }
 
 .menu li:first-child {
    border-top: none;
 }
 
 .menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
 }
 .menu a:hover {
    color: #6edeef;
 }
 .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 10px;
    background: #545f60;
    width: 16rem;
 }
 
 .menu li:hover .submenu {
    display: block;
 }